# cache
venv/
__pycache__
*/__pycache__

# SECRETS
secrets/*
pepper.key
dump_key.secret
util/security.py

# IDE
.idea/*

# versioning
.git

# DB
alembic/
alembic.ini

# compiled stuff
dropi/photons

# random test data
dumps
roses.json

# documentation
DOC_ENABLED