# cache
/venv/
/__pycache__
/*/__pycache__

# SECRETS
secrets/*
/*.secret
/pepper.key
/dump_key.secret

# IDE
.idea/*

# versioning
.git

# DB
/alemmbic

# compiled stuff
/dropi/photons

# random test data
/dumps
/roses.json